@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900|Roboto+Slab&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@page {
  @bottom-center {
    content: element(footer);
  }
  @bottom-right {
    content: counter(page);
  }
  @bottom-left {
    content: element(date);
  }
}
@page:first {
  @top-right {
    content: element(download);
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
}

.pagedjs_margin.pagedjs_margin-bottom-right.hasContent 
  .pagedjs_margin.pagedjs_margin-bottom-center.hasContent
  .pagedjs_margin.pagedjs_margin-bottom-left.hasContent {
      align-items: baseline;
}

div.footer {
  position: running(footer);
}

div.download {
  position: running(download);
}

h2.date {
  position: running(date);
  font-size: 0.8em;
  color: #454545;
  border-bottom: none;
}

.fafooter {
  color: gray;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

.fafooter:hover {
  color: #FF95FD;
}

.title {
  display: none;
}

.date {
  display: none;
}

@page{
  size: A4 portrait;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

:root{
  --page-width: 8.5in;
  --pagedjs-margin-right: 0.7in;
  --pagedjs-margin-left: 0.7in;
  --pagedjs-margin-top: 0.7in;
  --pagedjs-margin-bottom: 0.7in;
  --root-font-size: 12pt;
  --viewer-pages-spacing: 12px;
  --viewer-shadow-color: #313131; /* this marks the pages */
}

/* Paged.js viewer */
@media screen {
  body {
    background-color: var(--viewer-background-color);
    margin: 0; /* for mobile */
    width: calc(var(--pagedjs-width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
   .pagedjs_pages {
    max-width: var(--pagedjs-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
   .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}
 @media screen and (min-width: 8.5in) {
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}

.blocks {
  break-inside: avoid;
}

/* create ability to insert pagebreaks with br.pagebreak */
br.pageBreak {
    page-break-after: always;
}

br.flow-top {
  display: block; 
  content: ""; 
  margin-top: 1px; 
}

.info-box a {
  color: black;
  text-decoration: none;
}

p, li {
  font-size: var(--root-font-size);
  line-height: 125%;
}


/* title */
#block_container {
    text-align:center;
    margin-bottom: 0px;
}
#bloc1, #bloc2 {
    display:inline;
}

.first {
  color: gray;
  text-align: center;
  font-size: 32pt;
  line-height: 110%;
}
.last {
  text-align: center;
  font-weight: 900;
  font-size: 32pt;
  line-height: 110%;
}
.position {
  text-align: center;
  color: #000;
}
.sub {
  font-family: 'Roboto Slab', serif;
  color: #454545;
  background-color: #DEF2FF;
  padding-top: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
}

.extratrain td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.inote {
  text-align: center;
  margin-top: -15px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 0px;
  color: #5F6A6A;
}

.tch td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.hangingindent {
  padding-left: 24px ;
  text-indent: -24px ;
}

h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #5F6A6A;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 0px;
  /*border-bottom: 2px solid #486CAC;*/
}

/* section headers */
h2 {
  color: #649FD3;
  border-bottom: 2px solid darkgray;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  font-weight: 300;
}

/* PAGE 1 */
h2.summary,
h2.box {
  margin-top: -1.8em;
  margin-bottom: 0;
}

.box {
  visibility: hidden;
  margin-bottom: 0;
}
.info-box {
  border-left: 2px solid darkgray;
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
  margin-left: -10px;
}
.info-box thead {
  display: none;
}
.info-box td:first-child{
  width: 100%;
  /*text-align: right; */
}

/* if you use links to footnotes*/
.footnote-ref sup {
  vertical-align: top;
  margin-left: 1px;
}

a {
  text-decoration: none;
  color: #649FD3;
}

a:hover {
  color: #FF95FD;
}

.falink {
  color: #8C9196;
  text-align: right;
  padding-left: 5px;
}

.falink:hover {
  color: #FF95FD;
}

.falink2 {
  color: #8C9196;
  text-align: right;
  padding-left: 15px;
}

.falink2:hover {
  color: #FF95FD;
}

.falink3 {
  color: #8C9196;
  text-align: right;
  padding-left: 20px;
}

.falink3:hover {
  color: #FF95FD;
}

.grid-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 3%;
  margin-bottom: -20px;
  padding-bottom: -20px;
}

/* remove header in select table */
.nohead thead{
  display: none;
}
/* set the width of the first column in the tables */

.prpa td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.prpa td:nth-child(1) {
  width: 10%;
  text-align:left;
}

.prpa td:nth-child(2) {
  width: 4%;
  text-align:left;
}

.prpa td:nth-child(3) {
  text-align:left;
}

.submitted td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.submitted td:nth-child(1) {
  width: 4%;
  text-align:left;
}

.education {
  margin-top: 20px;
}
.education td:first-child {
  margin-top: 10px;
  padding-top: 0px;
  width: 18%;
}

.history td:first-child {
  width: 18%;
}

.set-width td:first-child {
  width: 16%;
  text-align: left;
}

.service td:first-child {
  width: 16.5%;
}

.cv-table td:first-child {
  width: 16%;
}

.publications td,
.talks td {
  vertical-align: top;
  font-size: 0.9em;
  text-align: left;
}

/* don't make page breaks inside an entry */
tr {
  break-inside: avoid;
}

.vertical-top td {
  vertical-align: top;
}

.smaller-font {
  font-size: 0.9em;
}

td {
  vertical-align: top;
  
}

.web-apps td:nth-child(2) {
  padding-left: 5px;
}

.adhoc table {
  margin-top:-10px;
  width:100%;
  border-bottom: 1px dashed #5F6A6A;
  border-top: 1px dashed #5F6A6A;
  border-left: none;
  border-right: none;
}

.adhoc tr:nth-child(even) {
  background-color: #F6F6F6;
}

.adhoc td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.adhoc td:nth-child(1) {
  padding-left: 5px;
}
.adhoc td:nth-child(2) {
  padding-left: 50px;
}

.prof td:nth-child(2) {
  padding-left: 15px;
}